/*
	Default style
	Used in case there is no custom skin defined in "persistent_login.js".
*/

#ifplcontainer {
	padding: 3px;
	text-align: center;
}

#ifplcontainer label, input {
	padding: 0;
	margin: 0;
	overflow: auto;
	vertical-align: middle;
}
